<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="Search by name or tag" (keyup.enter)="searchItem()" [(ngModel)]="str" clearInput></ion-input>
  </ion-item>
  <ion-list>
    <ion-item lines="inset" *ngFor="let i of filteredData">
      <ion-label [routerLink]="['/detail-restaurant/', i.id]">{{i.rest_name}}</ion-label>
    </ion-item>
    </ion-list>
</ion-content>
