<ion-header>
  <ion-toolbar>
    <ion-title>share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block"  color="default"><ion-icon name="Mail"></ion-icon>Email</ion-button>

  <ion-button expand="block"  color="default"><ion-icon name="logo-facebook"></ion-icon>FaceBook</ion-button>

  <ion-button expand="block"  color="secondary"><ion-icon name="twitter"></ion-icon>Twitter</ion-button>

  <ion-button (click)="backbtn()" expand="block" color="medium"><ion-icon name="caret-back"></ion-icon>   Back</ion-button>


</ion-content>
