<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="container">
  <ion-thumbnail class="ion-text-center">
    <img src="\assets\icon.png">
  </ion-thumbnail>
  <ion-button expand="block" fill="outline" color="success" (click)="addRestbtn()"><ion-icon name="add-circle"></ion-icon>Add Restaurant</ion-button>

  <ion-button expand="block" fill="outline" color="medium" (click)="updateRestbtn()"><ion-icon name="create"></ion-icon>Update Restaurant</ion-button>

  <ion-button expand="block" fill="outline" color="danger" (click)="deleteRestbtn()"><ion-icon name="close-circle"></ion-icon>Delete Restaurant</ion-button>
</ion-content>
<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->
