<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Restaurant Tag</ion-card-subtitle>
      <ion-card-title>{{name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{add}}<br>{{postal}}<br>{{city}}<br>
      {{phone}}<br>{{desc}}<br>{{rate}}
    </ion-card-content>
  </ion-card>
  
  <ion-button expand="block" color="primary" [routerLink]="['/share']" ><ion-icon name="share-social"></ion-icon>Share</ion-button>

</ion-content>
